{% render 'partials/head.liquid' %}

<section class="card">
  <!-- Profielfoto / Logo -->
 <img src="{{ person.avatar }}" alt="">


  <!-- Naam -->
  <h1 class="name">{{ person.name }}</h1>
  <h2> {{ person.nickname | upcase}}</h2>

  <!-- Functie -->
   <li><a href="{{ person.website }}" target="_blank">Portfolio</a></li>
   <li><a href="https://github.com/{{ person.github_handle }}" target="_blank">Github</a></li>

  <section>
  <ul>
    <li>Communicatie – 8/10</li>
    <li>Zelfstandigheid – 8/10</li>
    <li>Samenwerken – 8/10</li>
  </ul>
</section>


{% render 'partials/foot.liquid' %}
