{% render 'partials/head.liquid' %}

<article>
  <header>
    <h1>Hallo</h1>
    <p>mijn naam is</p>
  </header>

  <p>{{ person.name }}</p>

  <footer></footer>
</article>


<section class="card">
  <!-- Profielfoto / Logo -->
 <img src="{{ person.avatar }}" alt="Profielfoto" class="profile-pic">


  <!-- Naam -->
  <h1 class="name">{{ person.name }}</h1>

  <!-- Functie -->
  <p class="role">School Student</p>

  <!-- Contactgegevens -->
  <ul class="contact-info">
    <li class="contact-db phone">{{ person.email }}</li>
    <li class="contact-db website">{{ person.website }}</li>
    <li class="contact-db linkedin">{{ person.linkedin }}</li>
  </ul>

  <!-- Optionele extra info -->
  <button class="more-info-btn">Meer info</button>
 <section class="more-info">
  <p>{{ person.skills }}</p>
  <p>{{ person.passie }}</p>
  <p>{{ person.dromen }}</p>
</section>


{% render 'partials/foot.liquid' %}
