{% render 'partials/head.liquid' %}

<section class="card">
  <!-- Profielfoto / Logo -->
 <img src="{{ person.avatar }}" alt="">


  <!-- Naam -->
  <h1 class="name">{{ person.name }}</h1>
  <h2> {{ person.nickname | upcase}}</h2>

  <!-- Functie -->
  <li><a href="https://kurollos.github.io/your-tribe-profile-card/" target="_blank">
    Old profilecard
</a>
</li>
   <li><a href="https://github.com/{{ person.github_handle }}" target="_blank">Github</a></li>

  <section>
  <ul>
    <li>Communicatie – 8/10</li>
    <li>Zelfstandigheid – 8/10</li>
    <li>Samenwerken – 8/10</li>
  </ul>
</section>

 <h3> {{ person.bio }} </h3>
    </main>
    <a href="/oefenen">Oefenpagina</a>
    <details><summary>Data</summary><pre>{{ person | json:4 }}</pre></details>
    
{% render 'partials/foot.liquid' %}
